<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080185964710-pv10rrn554igsele3crhvig69eo77oiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080185964710-pv10rrn554igsele3crhvig69eo77oiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDzXx9jDoUDu7DI22pxZTgGxSkiiUdzvN4</string>
	<key>GCM_SENDER_ID</key>
	<string>1080185964710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.millererik.firebase-to-dos</string>
	<key>PROJECT_ID</key>
	<string>make-it-so-8731a</string>
	<key>STORAGE_BUCKET</key>
	<string>make-it-so-8731a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080185964710:ios:67d44b011a65bf20e7cc67</string>
	<key>DATABASE_URL</key>
	<string>https://make-it-so-8731a.firebaseio.com</string>
</dict>
</plist>